<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Spinefeed">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Spinefeed</title>
        <link rel="stylesheet" href="bulma.min.css">
        <link rel="stylesheet" href="global.scss">
    </head>

	<body>
		<demo-app><img src="./assets/images/loader.gif" style="position: block;margin:20px;" alt="Loading..."></demo-app>
	</body>

</html>